*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.country_info_wrapper{
margin-top: 20px;
height: 100vh;
}

.country_info_container{
    column-gap: 1rem;
    margin: auto 0;
}

 .country_info{
width: 50%;
}

.btn{
    padding: 7px 20px;
    border: 2px solid orange;
    outline: none;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: rgb(11, 11, 39);
}




.country_info_img{
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid orange;
}

h2 {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4{
    font-size: 13px;
    margin-left: 20px;
   padding: 5px;
}

.btnh6{
    color: white;
}